.tabela-acoes{
  display: flex !important;
  justify-content: flex-end !important;
}

.progress-bar{
  margin-top: 2px;
  margin-bottom: 10px;
}

.container{
  height: 93.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card{
  width: 80%;
}
