.container{
  height: 93.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-cadastro{
  height: min-content;
}

.full-width{
  width: 100%;
}

.width-cinquenta{
  width: 49%;
  margin-right: 5px;
}

.width-trinta{
  width: 29%;
  margin-right: 5px;
}

.width-vinte{
  width: 20%;
  margin-right: 5px;
}
